<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload and Capture</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Image Upload and Capture</h1>
      <form id="upload-form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image-input">Select Image:</label>
          <input
            type="file"
            name="image"
            id="image-input"
            accept="image/*"
            class="form-control-file"
          />
        </div>
        <button type="button" class="btn btn-primary" onclick="uploadImage()">
          Upload
        </button>
      </form>

      <h2 class="mt-5">OR</h2>

      <h3 class="mt-4">Camera Capture</h3>
      <video id="video" width="400" height="300" autoplay></video>
      <button
        id="capture-button"
        onclick="captureImage()"
        class="btn btn-primary mt-3"
      >
        Capture
      </button>

      <h2 class="mt-5">Response:</h2>
      <pre id="response-container"></pre>

      <!-- Display the uploaded/captured image -->
      <h2 class="mt-5">Image:</h2>
      <img
        id="image-display"
        src=""
        alt="Uploaded/Captured Image"
        class="img-fluid"
      />

      <h2 class="mt-5">Time:</h2>
      <p id="time-display"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then(function (stream) {
          var videoElement = document.getElementById("video");
          videoElement.srcObject = stream;
        })
        .catch(function (error) {
          console.error("Error accessing the camera: ", error);
        });

      function uploadImage() {
        var formData = new FormData();
        var imageInput = document.getElementById("image-input");
        var imageFile = imageInput.files[0];
        formData.append("image", imageFile);

        // Start the timer
        var startTime = performance.now();

        sendImage(formData, startTime);
      }

      function captureImage() {
        var videoElement = document.getElementById("video");
        var canvas = document.createElement("canvas");
        var context = canvas.getContext("2d");

        canvas.width = videoElement.videoWidth;
        canvas.height = videoElement.videoHeight;

        context.drawImage(
          videoElement,
          0,
          0,
          videoElement.videoWidth,
          videoElement.videoHeight
        );

        canvas.toBlob(function (blob) {
          var formData = new FormData();
          formData.append("image", blob, "image.jpg");

          // Start the timer
          var startTime = performance.now();

          sendImage(formData, startTime);
        }, "image/jpeg");
      }

      function sendImage(formData, startTime) {
        axios
          .post("/api/image_to_au", formData)
          .then(function (response) {
            var data = response.data;
            document.getElementById("response-container").textContent =
              JSON.stringify(data, null, 2);

            // Display the uploaded/captured image
            var imageUrl = URL.createObjectURL(formData.get("image"));
            document.getElementById("image-display").src = imageUrl;

            // Calculate the elapsed time
            var endTime = performance.now();
            var elapsedTime = endTime - startTime;

            // Display the elapsed time
            document.getElementById("time-display").textContent =
              "Time elapsed: " + elapsedTime.toFixed(2) + " milliseconds";
          })
          .catch(function (error) {
            console.error("Request failed:", error);
          });
      }
    </script>
  </body>
</html>
