<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload</title>
  </head>
  <body>
    <h1>Image Upload</h1>
    <form id="upload-form" enctype="multipart/form-data">
      <input type="file" name="image" id="image-input" accept="image/*" />
      <input type="button" value="Upload" onclick="uploadImage()" />
    </form>

    <h2>Response:</h2>
    <pre id="response-container"></pre>

    <script>
      function uploadImage() {
        var formData = new FormData();
        var imageInput = document.getElementById("image-input");
        var imageFile = imageInput.files[0];
        formData.append("image", imageFile);

        sendImage(formData);
      }

      function sendImage(formData) {
        var xhr = new XMLHttpRequest();

        xhr.open("POST", "/api/image_to_au", true);
        xhr.responseType = "json";

        xhr.onload = function () {
          if (xhr.status === 200) {
            var response = xhr.response;
            document.getElementById("response-container").textContent =
              JSON.stringify(response, null, 2);
          } else {
            console.error("Request failed. Status:", xhr.status);
          }
        };

        xhr.send(formData);
      }
    </script>
  </body>
</html>
